.custom-button {
  width: 100%;   max-width: 400px;   background-color: white;   border-color: blue;   color: blue;   margin-bottom: -30px
}

.custom-button:hover {
  background-color: rgb(7, 25, 189);   border-color: darkblue; }

  .impact-text h1 {
    font-family: 'Abril Fatface', cursive; 
        font-size: 3rem;  
    margin: 10px 0; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
  }
  
  .custom-button {
    margin-top: 20px;
  }
  