.custom-button {
  width: 100%;   max-width: 400px;   background-color: white;   border-color: blue;   color: blue;   margin-bottom: -30px
}

.custom-button:hover {
  background-color: rgb(7, 25, 189);   border-color: darkblue; }
