.transaction-details {
  display: flex;
  justify-content: space-between;   margin-bottom: 10px; }

.transaction-label {
  font-weight: bold;   min-width: 100px;   text-align: left; }

.transaction-value {
  text-align: left; }

.review-card{
  margin-top: -50px;
  margin-bottom: 30px;
}